h1{
	text-transform: uppercase;
}
h2{
	font-size: 20px;
}
.baner{
	display: flex;
	height:150px;
	width:500px;
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 transition: transform 1s;
	p{
	font-size:26px;
	color: white;
	}
}
